*.pyc
__pycache__/
migrations
stacticcdn
.idea/
db.sqlite3
settings.py
db.json
env/
.idea
media/
staticcdn/
.vscode
.output
venv/
.idea
staticcdn/
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
dump.rdb
celerybeat-schedule
celerybeat.pid
.read
data.json
data.psql
database.db
extract.json
schema.psql

