{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-12">

        <table style="width:100%">
            <tr>
                <th>Page</th>
                <th>Viewed On</th>
                <th>Delete</th>
            </tr>
            {% for history in object_list %}

                <tr>
                    <td>{{ history.content_object }}</td>
                    <td>{{ history.viewed_on }}</td>
                    <td>
                        <a href="{% url 'app:deletehistory' history.pk %}"><button class="btn btn-danger">Delete</button></a>
                    </td>
                </tr>



            {% endfor %}

        </table>
    </div>
</div>


{% endblock %}
