{% extends 'base.html' %}
{% load static %}
{% block title %}

    <title>Home</title>

{% endblock %}

{% block content %}



    <div class="container" style="margin-top: 5%">


                <div class="searchby">

                    <form  action="{% url 'app:index' %}" method="get">

                        <h3 class="name">Search By Name&nbsp<i class="fa fa-unsorted"></i></h3>
                    <div class="searchbyname">
                    <input id="name_search"  type="text"
                    name="name_search" value="{{ request.GET.name }}"
                    class="form-control" />

                    </div>

                        <h3 class="duration" style="margin-top: 3%";>Search By Duration&nbsp<i class="fa fa-unsorted"></i></h3>
                    <div class="searchbyduration">

                    <input id="duration_search"  type="text"
                    name="duration_search" value="{{ request.GET.duration }}"
                    class="form-control" />
                    </div>

                    <h3 class="location" style="margin-top: 5%">Search By Location&nbsp<i class="fa fa-unsorted"></i></h3>
                        <div class="searchbylocation">

                    <input id="location_search"  type="text"
                    name="location_search" value="{{ request.GET.location }}"
                    class="form-control" /></div>

                        <h3 class="price" style="margin-top: 5%";>Search by Price&nbsp<i class="fa fa-unsorted"></i></h3>
                        <div class="searchbyprice">
                    <label for="minprice_search">Min Price:</label>
                    <input id="minprice_search"  type="text"
                    name="minprice_search" value="{{ request.GET.price }}"
                    class="form-control" />

                    <label for="maxprice_search">Max Price:</label>
                    <input id="maxprice_search"  type="text"
                    name="maxprice_search" value="{{ request.GET.price }}"
                    class="form-control" /><br></div>

                    <input type="submit"
                    value="Search" class="btn btn-success" style="margin-top: 3%" />
                </form>

                </div>



        <div class="row" style="margin: 10%; margin-top: 2%; margin-bottom: 2%">
            {% for object in object_list %}
                <div class="column" style="width: 20%; margin: 2%;">
                    <a href="{% url 'app:detail' object.id %}"><h3>{{ object.name }}</h3></a><br>

                    Duration: {{ object.duration }}<br>
                    Location: {{ object.location }}<br>
                    Price: Rs. {{ object.price }}<br>
                </div>
            {% endfor %}
        </div>




        {% if is_paginated %}

            <ul class="pagination" style="margin-left: 25%; margin-right: 25%; ">

                {% if page_obj.has_previous %}
                    <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link"><i
                            class="fa fa-chevron-left"
                            aria-hidden="true"></i>Previous</a></li>
                {% else %}
                    <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
                {% endif %}

                {% if page_obj.number|add:'-4' > 1 %}
                    <li class="page-item"><a href="?page={{ page_obj.number|add:'-5' }}" class="page-link">&hellip;</a>
                    </li>
                {% endif %}

                {% for i in page_obj.paginator.page_range %}

                    {% if page_obj.number == i %}
                        <li class="active" class="page-item"><a style="color:black;" href="?page={{ i }}"
                                                                class="page-link"><span>{{ i }} <span
                                class="sr-only">(current)</span></span></a></li>
                    {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                        <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                    <li class="page-item"><a href="?page={{ page_obj.number|add:'5' }}" class="page-link">&hellip;</a>
                    </li>
                {% endif %}

                {% if page_obj.has_next %}
                    <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link"><i
                            class="fa fa-chevron-right"
                            aria-hidden="true"></i>Next</a></li>
                {% else %}
                    <li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
                {% endif %}
            </ul>

        {% endif %}


    </div>

    </body>




    <script src="{% static 'js/custom.js' %}"></script>

{% endblock %}
