{% extends 'base.html' %}
{% load static %}





{% block title %}

    <title>Home</title>

{% endblock %}

{% block content %}




<div class="container-fluid">
    <div class="row" style="margin-top: 0%; margin-bottom: 0%; background-color: #f0f0f0">

        <div class="col-lg-3" style="margin-left:0; ">
            <div class="badge" style="font-size: large; ">Filter your search:</div>
            <form class="form-inline" action="{% url 'app:index' %}" method="get">
            <ul class="list-group">
                <li class="list-group-item">
                    
                        <label class="name" for="name_search" style="margin-right: 2px;color: black; margin-left: 2px; margin-top: 2px;">Name:
                            &nbsp;</label>
                        <div class="searchbyname">
                            <input id="name_search" type="text"
                                   name="name_search" value="{{ request.GET.name }}"
                                   class="form-control"/>
                        </div>
                </li>

                <li class="list-group-item">
                        <label class="duration" for="duration_search" style="margin-right: 2px; margin-left: 2px;
                        color: black;">Duration:
                                            &nbsp;</label>
                                        <div class="input-group mb-2 mr-sm-2">
                                            <div class="searchbyduration">
                                                <input id="duration_search" type="text"
                                                       name="duration_search" value="{{ request.GET.duration }}"
                                                       class="form-control"/>
                                            </div>

                </li>

                <li class="list-group-item">
                        <label class="location" for="location_search" style="margin-right: 2px; margin-left: 2px;
                        color: black;">Location:
                                            &nbsp;</label>
                                        <div class="input-group mb-2 mr-sm-2">
                                            <div class="searchbylocation">
                                                <input id="location_search" type="text"
                                                       name="location_search" value="{{ request.GET.location }}"
                                                       class="form-control"/></div>
                                        </div>
                </li>

                <li class="list-group-item">
                        <label class="price" style="margin-right: 2px; margin-left: 2px;
                        color: black;">Price: &nbsp;</label>
                                        <div class="searchbyprice">
                                            <label for="minprice_search" style="">Min Price:</label>
                                            <input id="minprice_search" type="text"
                                                   name="minprice_search" value="{{ request.GET.price }}"
                                                   class="form-control"/>
                        
                                                <label for="maxprice_search">Max Price:</label>
                                                <input id="maxprice_search" type="text"
                                                       name="maxprice_search" value="{{ request.GET.price }}"
                                                       class="form-control"/><br></div>
                        
                                            
                                       
                </li>
                <li class="list-group-item">
                        <button type="submit" class="btn btn-primary mb-2">Submit</button>
                </li>
            </form>


            </ul>
            
            
        </div>

        <div class="col-lg-9">
            <div class="title text-center text-info">
                <h2 style="color: black; margin-top: 5%;">Available Travel Packages</h2>
            </div>
            <div class="row" style="color: black; margin:0; padding:0; ">
                {% for object in object_list %}
                    <div class="col-sm-4" style="margin: 0; padding: 0;">
                        <div class="package" style="margin: 9%; height: 100%;
            width: 100%;">

                            <a href="{% url 'app:detail' object.id %}"><h5>{{ object.name|truncatechars:30 }}</h5>
                            </a>
                            Duration: {{ object.duration }}<br>
                            Price: Rs. {{ object.price }}<br>
                            {#                                Total likes: {{ object.like_count }}#}
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if is_paginated %}

        <ul class="pagination" style="margin-left: 10%; margin-right: 10%; margin-top: 3%;">

            {% if page_obj.has_previous %}
                <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link"><i
                        class="fa fa-chevron-left"
                        aria-hidden="true"></i>Previous</a></li>
            {% else %}
                <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
            {% endif %}

            {% if page_obj.number|add:'-4' > 1 %}
                <li class="page-item"><a href="?page={{ page_obj.number|add:'-5' }}" class="page-link">&hellip;</a>
                </li>
            {% endif %}

            {% for i in page_obj.paginator.page_range %}

                {% if page_obj.number == i %}
                    <li class="active" class="page-item"><a style="color:black;" href="?page={{ i }}"
                                                            class="page-link"><span>{{ i }} <span
                            class="sr-only">(current)</span></span></a></li>
                {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
                    <li class="page-item"><a href="?page={{ i }}" class="page-link">{{ i }}</a></li>
                {% endif %}
            {% endfor %}

            {% if page_obj.paginator.num_pages > page_obj.number|add:'4' %}
                <li class="page-item"><a href="?page={{ page_obj.number|add:'5' }}" class="page-link">&hellip;</a>
                </li>
            {% endif %}

            {% if page_obj.has_next %}
                <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link"><i
                        class="fa fa-chevron-right"
                        aria-hidden="true"></i>Next</a></li>
            {% else %}
                <li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
            {% endif %}
        </ul>

    {% endif %}
        </div>
        
    </div>
 
    </div>

    {% if request.user.is_authenticated %}
        <div class="container-fluid" style="background-color: #f0f0f0">
                <div class="title text-center text-info">
                        <h2 style="color: black; margin-top: 0%;">Other packages you may like</h2>
                    </div>
            
            <div class="col-md-12">


                <div class="container-fluid">
                    <div class="row">
                        {% for object in recommended %}
                            <div class="col-md-4" style="margin: 0; padding: 0;">
                                <div class="package" style="margin: 9%; height: 100%;
                                        width: 100%;">

                                    <a href="{% url 'app:detail' object.id %}">
                                        <h5>{{ object.name|truncatechars:30 }}</h5>
                                    </a>
                                    Duration: {{ object.duration }}<br>
                                    Price: Rs. {{ object.price }}<br>
                                    {#                                Total likes: {{ object.like_count }}#}
                                </div>
                            </div>{% endfor %}

                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        {% for object in recommended_history %}
                            <div class="col-md-4" style="margin: 0; padding: 0;">
                                <div class="package" style="margin: 9%; height: 100%;
                                        width: 100%;">

                                    <a href="{% url 'app:detail' object.id %}">
                                        <h5>{{ object.name|truncatechars:30 }}</h5>
                                    </a>
                                    Duration: {{ object.duration }}<br>
                                    Price: Rs. {{ object.price }}<br>
                                    {#                                Total likes: {{ object.like_count }}#}
                                </div>
                            </div>{% endfor %}

                    </div>
                </div>


            </div>


        </div>



    {% endif %}

    <script src="{% static 'js/custom.js' %}"></script>

{% endblock %}
