{% extends 'base.html' %}

{% block content %}

<div class="container"  style="min-height: 500px">

    <div class="row" style="margin-top: 5%">
        <div class="col-md-3"></div>
        <div class="col-md-6 text-center">

            {% if errors %}
            <div class="alert alert-warning" role="alert">
             {% for message in messages %}
                    alert(message);
                {% endfor %}
                {% endif %}

            Error !! Password Not same !!

            <form method="post" action="">
                {% csrf_token %}
            <div class="modal-body">
                <div class="form-group">
                    Password 1
                    {{ form.password1 }}
                </div>
                <br>
                <div class="form-group">
                    Password 2
                    {{form.password2}}
                </div>

                <button class="btn btn-success btn-block">Submit</button>
            </div>
            </form>
        </div>
    </div>

    </div>

{% endblock %}







